.container {
    margin-bottom: 100px;
}
 .carousal1 {
     background-color: #FEEAE9;
     border-radius: 10px;
 }

 .carousel-item {
    padding: 20px 80px;
 }

 .price {
     color: #ff136f;
     padding-bottom: 5px;
 }

 .buy-now-btn {
     display: inline-block;
     background-image: linear-gradient(to bottom, #ff589f 0%, #ff136f 100%);
     color: #fff;
     border: none;
     border-radius: 8px;
     padding: 9px 25px;
     cursor: pointer;
 }

.catagories h2 {
    color: #fff;
}
.catagories img {
    width: 100px;
}
 .cat1, .cat2, .cat3{
     padding: 10px 30px;
     border-radius: 10px;
 }
 .cat1 {
     background-color: #ff136f;
 }
 .cat2 {
    background-color: #3952FD;
}
.cat3 {
    background-color: #F0A529;
}

.card {
    border: none;
    box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.12);;
}

.card-footer {
    background-color: #fff;
    border-top: 1px solid rgba(97, 97, 97, 0.125);
}



.orange-bg {
    background-color: #FEEAE9;
    border-radius: 10px;
    height: 300px;
}

#subscribe h6 {
    color: #4b4b4b;
}

.pading-top {
    margin-top: 10px;
}